.navigation-bar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 1rem;
  }
.sheetposition {
    z-index: 1100;
    position: fixed; 
  }
  