.gradient-background {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  background-image: radial-gradient(
      at 44.2173165736429% 35.69813718156969%,
      hsla(0, 0%, 16.862745098039216%, 1) 0%,
      hsla(0, 0%, 16.862745098039216%, 0) 100%
    ),
    radial-gradient(
      at 16.833158639990064% 64.81922914779588%,
      hsla(0, 0%, 1.9607843137254901%, 1) 0%,
      hsla(0, 0%, 1.9607843137254901%, 0) 100%
    ),
    radial-gradient(
      at 77.13958721469298% 37.69194905023057%,
      hsla(0, 0%, 1.9607843137254901%, 1) 0%,
      hsla(0, 0%, 1.9607843137254901%, 0) 100%
    ),
    radial-gradient(
      at 72.62563776258743% 94.2168606267517%,
      hsla(0, 0%, 3.1372549019607843%, 1) 0%,
      hsla(0, 0%, 3.1372549019607843%, 0) 100%
    ),
    radial-gradient(
      at 70.22249863925825% 57.38339709573725%,
      hsla(0, 0%, 16.862745098039216%, 1) 0%,
      hsla(0, 0%, 16.862745098039216%, 0) 100%
    ),
    radial-gradient(
      at 88.2006019780831% 2.6102791702297568%,
      hsla(0, 0%, 1.9607843137254901%, 1) 0%,
      hsla(0, 0%, 1.9607843137254901%, 0) 100%
    ),
    radial-gradient(
      at 23.756557880898455% 89.63467710544437%,
      hsla(0, 0%, 1.9607843137254901%, 1) 0%,
      hsla(0, 0%, 1.9607843137254901%, 0) 100%
    ),
    radial-gradient(
      at 19.455884497601673% 89.72737150875562%,
      hsla(0, 0%, 3.1372549019607843%, 1) 0%,
      hsla(0, 0%, 3.1372549019607843%, 0) 100%
    ),
    radial-gradient(
      at 46.66550120127981% 66.4201145735511%,
      hsla(0, 0%, 16.862745098039216%, 1) 0%,
      hsla(0, 0%, 16.862745098039216%, 0) 100%
    ),
    radial-gradient(
      at 97.98495794425537% 77.68677665788356%,
      hsla(0, 0%, 1.9607843137254901%, 1) 0%,
      hsla(0, 0%, 1.9607843137254901%, 0) 100%
    );
}



